*

!.gitignore

!index.html

!README.md

!/comps/focus.jpg
!/comps/focus.psd

!/css/reset.css
!/css/style.css

!/sass/_reset.scss
!/sass/style.scss

!/fonts/Pacifico/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2
!/fonts/Pacifico/OFL.txt
!/fonts/Raleway/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2
!/fonts/Raleway/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2
!/fonts/Raleway/xkvoNo9fC8O2RDydKj12bwzyDMXhdD8sAj6OAJTFsBI.woff2
!/fonts/Raleway/OFL.txt

!/img/active-person.png
!/img/cursor.png
!/img/iphone.png
!/img/play.png
!/img/windows.png
!/img/android.png
!/img/down-arrow.png
!/img/large-banner-image.png
!/img/twitter.png
!/img/youtube.png
!/img/angled-line.png
!/img/facebook.png
!/img/linkedin.png
!/img/video-image.png
!/img/apple.png
!/img/focus.png
!/img/people.png
!/img/video-play-bar.png
!/img/black-dot.png
!/img/google.png
!/img/pinterest.png
!/img/white-dot.png

!*/
